<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>

    
    <div class="container-fluid main_header align-items-center">
        <div class = "row">
            <div class="col-md-10 col-12 mx-auto">
              <div class="col-md-6 col-12 main_header_left">
                 <figure>
                   <img src="images/404.png" class ="img-fluid" title="Prince Kumar"/>
               </figure>
                 <p>Welcome to Weather App</p>
                 <h1>{{errorMessage}}</h1>
                 <a href="/"><button>Go Back</button></a>
              </div>
             <!--<figure class="error">
                   <img src="images/404.png" class ="img-fluid" title="Prince Kumar"/>
               </figure>-->
                  
            </div>
                
                </div>
    </div>

   {{>footer}}
</body>
</html>