<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    
    <div class="container-fluid main_header">
        <div class = "row">
            <div class="col-md-10 col-12 mx-auto">
              <div class="col-md-6 col-12 main_header_left">
                 <p>Welcome to Weather App</p>
                 <h1>I Am A <span class="text-color">MERN Stack Developer</span> And A Freelancer</h1>
                 <a href="https://github.com/princekumarsharmaji"><button>About Me</button></a>
              </div>
              <div class="col-md-6 col-12 main_header_right" >
               <figure>
                   <img src="images/coding.png" class ="img-fluid" title="Prince Kumar"/>
               </figure>
                  
            </div>
                </div>
                </div>
    </div>

   {{>footer}}
</body>
</html>